:root {
  /* Colors */
  --color-black-1: #121212;
  --color-black-2: #000000;
  --color-white-1: #ffffff;
  --color-white-2: #f6f6f6;
  --color-green-1: #1fdf64;
  --color-green-2: #1db954;
  --color-grey-1: #a7a7a7;
  --color-grey-2: #535353;
  /* Fonts */
  --font-family-default: "Circular Std", Helvetica, Arial, sans-serif;
  --font-size-base: 1.6rem;
  /* Widths */
  --full-width: 104rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-grey-1);
  color: var(--color-black-2);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-family-default);
}

body {
  min-height: 100vh;
  font-size: var(--font-size-base);
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    var(--color-grey-2),
    var(--color-black-1)
  );
  color: var(--color-white-1);
  position: relative;
}

main {
  flex: 1;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--full-width);
  padding: calc(1.5 * var(--font-size-base)) var(--font-size-base);
}

.banner__title {
  font-size: clamp(
    calc(2.5 * var(--font-size-base)),
    5vw,
    calc(4.5 * var(--font-size-base))
  );
  margin-top: 0.25em;
}

.banner__job-title {
  font-size: clamp(
    calc(1 * var(--font-size-base)),
    3vw,
    calc(1.5 * var(--font-size-base))
  );
  margin-top: 0.15em;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1.25em;
}

.nav__button {
  cursor: pointer;
}

#toggler {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -100px;
}

.nav__items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  list-style: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#toggler:checked + .nav__items {
  height: 20.48rem;
  opacity: 1;
}

.nav__link--main {
  color: var(--color-white-1);
  border: 2px solid var(--color-green-2);
  background-color: var(--color-green-2);
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

.nav__link--main:hover,
.nav__link--main:active {
  color: var(--color-white-1);
  border: 2px solid var(--color-green-1);
  background-color: var(--color-green-1);
  transform: scale(1.05);
}

.nav__link {
  border-radius: 4em;
  padding: 0.5em 1.25em;
  width: fit-content;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  display: block;
}

.nav__link--secondary {
  color: var(--color-grey-1);
  transition: color 0.2ms ease-in-out;
}

.nav__link--secondary:hover,
.nav__link--secondary:active {
  color: var(--color-white-1);
}

.nav__link--secondary::after {
  content: "";
  position: absolute;
  width: 33%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: translateX(100%) scale(0);
  background-color: var(--color-white-2);
  transition: transform 0.2s ease-in-out;
}

.nav__link--secondary:hover::after,
.nav__link--secondary:active::after {
  transform: translateX(100%) scale(1);
}

.section--top {
  display: flex;
  flex-direction: column;
}

.subsection--short {
  order: 1;
}

.subsection--long {
  order: 2;
}

.section__title {
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  width: fit-content;
  margin-top: calc(2 * var(--font-size-base));
}

.section__title::after {
  content: "";
  position: absolute;
  width: 33%;
  height: 2px;
  bottom: -0.35em;
  left: 0;
  background-color: var(--color-green-1);
  transition: transform 0.2s ease-in-out;
}

.section:hover .section__title::after {
  transform: translateX(100%);
}

.section__content {
  gap: 0 0.5em;
  list-style-position: inside;
  margin-top: calc(2 * var(--font-size-base));
}

#technologies .section__content {
  display: flex;
  flex-wrap: wrap;
}

#technologies li:first-of-type {
  list-style: none;
}

/* 920px */
@media (min-width: 57.5em) {
  .nav {
    justify-content: space-between;
  }

  .nav__button {
    display: none;
  }

  .nav__items {
    flex-direction: row;
    width: fit-content;
    justify-self: end;
  }

  .nav__link--secondary {
    color: var(--color-white-1);
    border: 2px solid var(--color-grey-1);
    transition: border 0.1s ease-in-out;
  }

  .nav__link--secondary:hover,
  .nav__link--secondary:active {
    background-color: var(--color-grey-2);
    border: 2px solid var(--color-white-2);
  }

  .nav__link--secondary::after {
    display: none;
  }
}
